<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <div class="cricle"></div>
    <div class="cricle"></div>
    <div class="cricle1"></div>
    <div class="cricle2"></div>
    <div class="container">
        <h1>Login</h1>
        <div class="login">
            <form method="POST" action="/process">
                <div class="data_input">
                    <input type="text" name="username" autocomplete="off" />
                    <label>UserName:</label>
                </div>
                <div class="data_input">
                        <input type="password" name="password" />
                        <label>PassWord:</label>
                </div>
                <input type="submit" value="Login" id="ok">
                </form>
        </div>
    </div>
    <script src="../assets/js/jquery.js"></script>
    <!-- <script src="../assets/js/Ajax.js"></script> -->
</body>
</html>